yahtzeeanswers.py
__pycache__/stringanswers3.cpython-35.pyc
__pycache__/stringanswers4.cpython-35.pyc
__pycache__/stringproblems3.cpython-35.pyc
__pycache__/stringproblems4.cpython-35.pyc
__pycache__/stringproblems4test.cpython-35.pyc
__pycache__/tester.cpython-35.pyc
__pycache__/yahtzeeanswers.cpython-35.pyc
__pycache__/yahtzeeproblems.cpython-35.pyc
__pycache__/yahtzeetest.cpython-35.pyc
__pycache__/stringanswers3.cpython-35.pyc
__pycache__/stringproblems3.cpython-35.pyc
__pycache__/tester.cpython-35.pyc
